<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<!--<p>-->
<!--  <strong>Description:</strong>-->
  <%#= @recipe.description %>
<!--</p>-->

<% %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
